@tailwind base;
@tailwind components;
@tailwind utilities;
/* group utilities */
@layer components {
  .card {
    @apply sm:flex sm:items-center sm:py-4 max-w-sm p-8 bg-white mx-auto rounded-xl shadow-md space-y-2 sm:space-y-0 sm:space-x-6 dark:bg-gray-800 sm:dark:hover:bg-gray-700;
  }
  .logo {
    @apply h-24 sm:flex-shrink-0 rounded-full ring-4 ring-green-400 transform hover:scale-105 duration-500 mx-auto;
  }
  .btn {
    @apply px-4 py-1 border rounded-full font-semibold text-sm transform hover:scale-105 duration-200
  focus:border-transparent focus:outline-none focus:ring-2 dark:focus:ring-offset-gray-800;
  }
  .btn-green {
    @apply border-green-400  text-green-600 hover:bg-green-400 hover:text-white  focus:ring-green-600 focus:ring-offset-2 dark:text-green-400;
  }
  .btn-purple {
    @apply border-purple-400  text-purple-600 hover:bg-purple-400 hover:text-white  focus:ring-purple-600 focus:ring-offset-2 dark:text-purple-400;
  }
}
@layer base {
  h1 {
    @apply text-2xl;
  }
}

/* for custom css class */
@layer utilities {
  .text-body {
    color: red;
    font-size: 20px;
    transform: rotate(90deg);
  }
}
